<style>
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
</style>

<!-- start carousel -->    
<div class="container main-body">
	<div class="row-fluid">
		<div class="carousel slide" id="myCarousel">
			<div class="carousel-inner">
			  <div class="item active">
					<ul class="thumbnails">
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/1.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/2.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/3.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/4.gif" alt="">
							</div>
						</li>
					</ul>
			  </div>
			  <div class="item">
					<ul class="thumbnails">
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/5.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/6.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/7.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/8.gif" alt="">
							</div>
						</li>
					</ul>
			  </div>
			  <div class="item">
					<ul class="thumbnails">
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/9.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/10.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/11.gif" alt="">
							</div>
						</li>
						<li class="col-lg-3">
							<div class="thumbnail">
								<img src="/app/images/6.gif" alt="">
							</div>
						</li>
					</ul>
			  </div>
			</div>
			<a data-slide="prev" href="#myCarousel" class="left carousel-control"><span class="icon-prev"></span></a>
			<a data-slide="next" href="#myCarousel" class="right carousel-control"><span class="icon-next"></span></a>
		</div>
	</div>
</div>
<!-- end carousel -->